.env
static_audio/
static_image/
static_video/
static_text/
.env
.DS_Store
.venv/
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
.coverage.*
.coverage.xml
.coverage.json
.coverage.yaml
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz

